@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'react-phone-input-2/lib/style.css';


.container {
    max-width: 497px;
    margin: 0 auto;
}

.logo {
    width: 150px; 
    height: auto; 
    max-width: 100%; 
    margin: 0 auto;
    padding: 30px 0;

}
.wrapper {
    padding: 5px 38px ;
    display: block;
    text-align: left;
    box-shadow: 0px 10px 20px 0px #0000001C;

}

form{
    margin-top: -20px;
}
.wrapper label {
    padding: 5px 0;
    display: block;
    font-size: 16px;
    font-weight: 400;
}



.wrapper .title {
    font-size: 30px;
    font-weight: 600;
    color: #292D32;

}

.wrapper input, select {
    width: 410px;
    height: 60px;
    background: #F3F3F8;
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
    box-sizing: border-box;
    margin:2px 0 12px  0;
    font-size: 16px;   
}

.wrapper input, select:focus{
    outline: none;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 410px;
  padding-right: 40px; 
}

.toggle-eye {
  position: absolute;
  right: 28px;
  top: 25%;
  cursor: pointer;
  color: #000;
  
}

.error {
  color: red;
  font-size: 14px;
  margin: 1px 0;
}

.wrapper button{
    display: block;
    width: 100%;
    border-radius: 30px;
    background: #1769FF;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    padding: 15px ;
    margin: 20px 0;
    border: 0;
    cursor:pointer;
}

.wrapper button:hover{
    background-color:#063b9c ;
}
.wrapper a{
    text-decoration: none;
    text-align: center;
}

.react-tel-input {
    margin-bottom: 12px;
}

.react-tel-input .form-control {
    width: 410px !important;
    height: 60px !important;
    background: #F3F3F8 !important;
    border: none !important;
    border-radius: 5px !important;
    padding-left: 50px !important; 
    font-size: 16px !important;
    box-shadow: none !important;
}


.react-tel-input .flag-dropdown {
    background: #F3F3F8 !important;
    border: none !important;
    border-radius: 5px 0 0 5px !important;
    width: 60px !important;
}


.react-tel-input .flag-dropdown .selected-flag {
    height: 60px !important;
    padding: 0 10px !important;
}

.wrapper .description{
    font-size: 16px;
    font-weight: 400;
   margin-bottom: 50px; 
}

.wrapper span{
    font-weight: 600;
}

.no-account{
    text-align: center;
}

.no-account a{
    color: #063b9c;
}

@media screen and (max-width:900px) {
   .wrapper input, select {
        width: 100%;
        height: 60px;
       

    }
    .react-tel-input .form-control{
          width: 100% !important;
    }

    .toggle-eye{
        right: 18px;
        top: 25%; 
        }

    .password-wrapper {
        width: 100%;
    }
}